@charset "UTF-8";
html {
  font-size: 80.19%;
  font-family: 'Lora', serif;
}

body {
  font-family: 'Lora', serif;
  background-image: linear-gradient(#7da061, #bdbaba);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../utils/img/santojanni.jpg);
  width: 100%;
  opacity: 1.5;
  filter: alpha(opacity=100);
  zoom: 1;

  background-size:cover ;
  
  
 
}

header {

  width: 100%;
  height: 100px;
  padding: 80px;
  height: 300px;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  z-index: index -1;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

 
  
  
  
}








header nav .flexMenu {


  display: flex;

          flex-direction: row;
  
          align-items: center;
  list-style: none;
 
          justify-content: space-evenly;
  padding: 4px;
  font-size: 2.2rem;
  position: absolute;
height: 52px;
left: 16px;
right: 16px;
top: 176px;
margin: 0;
  padding: 0;
  font-family: sans-serif;
 
  opacity: 1.5;
  filter: alpha(opacity=100);
  zoom: 1;

  background-size:cover ;
}

.flexMenu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 20px;
  border: 3px solid #fffafa;
  
}

.flexMenu li a:hover {

  color: black;
  padding: 15px;
  border-bottom:groove;
  border: 3px solid #fffafa;
  
  
}

header nav .flexMenu {


  display: flex;
  
  
          flex-direction: row;
  
      
          align-items: center;
  list-style: none;
 
      
          justify-content: space-evenly;
  padding: 40px;
  font-size: 5 rem;
  
}



/**Indicamos que cuando se posicione sobre un elemento li, si contiene un elemento con una clase .submenu, se aplicará el display: block**/
.menu li:hover > .submenu {
  display: block;

  
  
}

/**Damos estilos al submenu y lo ocultamos con display none**/
.submenu {
  list-style: none;
  display: block;
  color: #ffffff;
  display: none;
}

/*Damos estilos a los enlaces dentro del submenu*/
.submenu li {
  margin: 10px 0;
  padding: 0 10px;
}

.submenu li a:hover {
  border-bottom: 1px solid #7da061;
  
}






.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  

}

.tarjeta {

 
  border: 0px solid rgb(255, 255, 255);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  border-radius: 15px;
  padding: 30px;
  top: 100px;
 
   display:flexbox; 
  
          align-items: center;
  position:relative;
  margin-bottom: 150px;
  color: white;
}

.tarjeta__img {
  width: 200px;
  height: 180px;
  margin-right: 30px;
  color: white;
}

.tarjeta__titulo {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: white;
}

.tarjeta__parrafo {
  line-height: 28px;
  font-size: 4rem;
  color: white;
}

.boton {
  height: 60px;
  padding: 20px;
  background-color: #ffffff;
  display: inline-block;

  
          text-decoration: #f5f5f5;
}

.boton--derecha {
  position: absolute;
  right: 20px;
  bottom: -25px;
}

.tarjeta p {
  color: rgb(64, 186, 48);
}




.paraTransicion:hover {
  
  transition: 3s;
  font-size: 3rem;
}
aside  h1{
  color: #0aa221;
  border: 0px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
   
}
aside  {
  position: absolute;
  width: 300px;
  height: 700px;
  left: 60px;
  top: 400px;
  color:#ffffff;

  border: 0px solid #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
 



}
main h1{
  color:#0aa221;
  border: 0px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
}
main{
    
    position: absolute;
    width: 300px;
    height: 700px;
    left: 1550px;
    top: 400px;
    color: white;
   
    border: 0px solid #ffffff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    
   
}

.paraTransicion:hover {
  
  transition: 3s;
  font-size: 3rem;
}

.neutro {
  color: rgb(255, 255, 255);
  font-family:cursive;
  text-align: center;
  border: 5px groove rgb(255, 255, 255);
  border-radius: 1px ;

}

.neutra {
  background-image: linear-gradient(#7da061, #b7b49b);
}

.carrusel {
  /*para modificar que no use el 100% de la página*/
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  
}


.paraTransicion:hover {
  
  transition: 3s;
  font-size: 3rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}

.tamaños{
  border-top: solid 2px ;
   width: 6%;  
    text-align: center;   padding: 5px;   margin: auto;  
     margin-bottom: 10vh; }
    

     footer div{ 
       width: 70%;
       border: 1px groove rgb(252, 252, 252);
       
       border-radius: 50px;
      
     
     }
footer h3{
  text-align: center;
  color: rgb(255, 255, 255);
 
  
}
